.myPick {
  height: 100vh;
  background-color: $common_white;
  .contentTit {
    @each $font, $value in $title4 {
      #{$font}: $value;
    }
    strong {
      font-family: $font-family600;
      font-weight: 600;
      // margin-right: 3px;
    }
  }
  .myPickContainer {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      .btn {
        color: $common_white;
      }
    }
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px 20px;
    background-color: $text_sub1;
    h1 {
      @each $font, $value in $title3 {
        #{$font}: $value;
      }
      font-weight: 600;
      font-family: $font-family600;
      color: $common_white;
    }
  }

  .suggestGame {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top: 8px solid $line_light;
    background-color: $common_white;
    padding-bottom: 24px;
    padding-bottom: calc(80px + 52px);
    .contentTit {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .swiper .swiper-wrapper .swiper-slide {
    background-color: transparent;
  }
}
