.toastPopUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px 16px;
  background-color: $background_deep;
  color: $common_white;
  border-radius: 8px;
  @each $font, $value in $body3 {
    #{$font}: $value;
  }
  .view {
    background-color: transparent;
    border: none;
    color: $common_white;
    text-decoration: underline;
    cursor: pointer;
  }
}
