.gameTab {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
  margin: 32px 0;
  .gameVideo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .videoTit {
      @include contentTit();
    }
  }
}
