.categorySelect {
  height: 100vh;
  .selectResult {
    width: 100%;
    display: flex;
    flex-direction: column;
    .selectBtn {
      height: 62px;
    }
    .categoryThumbNail {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 8px;
      background-color: $common_white;
      padding: 0 20px;
    }
  }
}

@media all and (min-width: 450px) {
  .categorySelect {
    .selectResult {
      .categoryThumbNail {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
