.categoryTab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  width: 104px;
  height: 38px;
  
  border-radius: 4px;
  border: 1px solid $line_default;
  background-color: $common_white;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $text_default;
  gap: 5px;

  cursor: pointer;

  img {
    width: 14px;
    height: 14px;
  }

  // .genre {

  // }
}
