.ThumbNail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  .thumbImg {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .barBtn {
      position: absolute;
      bottom: 1%;
      right: 2%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      &.bookmark {
        svg {
          fill: rgba($line_deep, 0.1);
          path {
            stroke: $common_white;
          }
        }
      }
      &.pickOn {
        svg {
          fill: $main_color;
        }
      }
    }
  }
  .thumbName {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      @each $font, $value in $title4 {
        #{$font}: $value;
      }
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1; //글의 최대 라인수
      -webkit-box-orient: vertical; // 크로스 브라우징용
      color: $text_sub1;
      font-family: $font-family600;
      font-weight: 600;
    }
    p {
      @each $font, $value in $body3 {
        #{$font}: $value;
      }
      color: $text_info;
      margin-bottom: 16px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; //글의 최대 라인수
      -webkit-box-orient: vertical; // 크로스 브라우징용
    }

    .hashTagBox {
      display: flex;
      align-items: center;
      overflow: hidden;
      gap: 4px;
      .hashTag {
        &.ellipis {
          padding: 0 8px;
          &::before {
            content: "⋯";
          }
        }
      }
    }
  }
  &.big {
    aspect-ratio: 163.5 / 284;
    justify-content: space-between;
    .thumbImg {
      width: 100%;
      aspect-ratio: 164 / 180;
      flex: 2;
    }
    .hashTagBox {
      &.tagBig {
        display: flex;
      }
      &.tagSmall {
        display: none;
      }
    }
  }
  &.small {
    width: 100%;
    aspect-ratio: 140/272;
    .thumbImg {
      width: 100%;
      aspect-ratio: 140 / 160;
    }
    .hashTagBox {
      &.tagBig {
        display: none;
      }
      &.tagSmall {
        display: flex;
      }
    }
  }
}
