.Categorys {
  // @include mobile();
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: $common_white;
}

.HotTag {
  align-items: start;
  justify-content: center;

  .title {
    @each $font, $value in $body1 {
      #{$font}: $value;
    }
    font-family: $font-family600;
    // font-weight: bold;
    padding: 15px 20px;
    border-bottom: 1px solid $line_default;
  }

  .tags {
    display: inline-flex; /* 자식 요소들을 가로로 정렬 */
    flex-wrap: wrap; /* 자식 요소들이 줄 바꿈을 할 수 있도록 설정 */
    justify-content: flex-start;

    padding: 15px 20px;
    gap: 8px;
  }

  .tag {
    flex: 0 1 auto; /* 자식 요소들이 컨테이너의 크기에 맞게 자동으로 줄어들거나 늘어나도록 설정 */
    max-width: 100%; /* 자식 요소들이 컨테이너의 최대 너비를 넘지 않도록 설정 */
  }
}
