.Rank {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  .dum {
    display: flex;
    flex-direction: row;

    .thumImg {
      img {
        border-radius: 8px;
        width: 39px;
        height: 46px;
      }
      cursor: pointer;
    }

    .thumName {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;

      .num {
        color: $main_color;
        padding-left: 12px;
      }

      .text {
        width: 100%;
        h1 {
          @each $font, $value in $title4 {
            #{$font}: $value;
          }
          color: $common_black;
          font-weight: 600;
          display: -webkit-box;
          -webkit-line-clamp: 1; //글의 최대 라인수
          -webkit-box-orient: vertical; // 크로스 브라우징용
          overflow: hidden; /* 넘치는 텍스트를 숨김 */
          text-overflow: ellipsis;
        }

        p {
          @each $font, $value in $body3 {
            #{$font}: $value;
          }
          color: $text_info;
          font-weight: 400;
          // min-width: 155px; /* 텍스트가 차지할 최대 너비를 설정 */
          display: -webkit-box;
          -webkit-line-clamp: 1; //글의 최대 라인수
          -webkit-box-orient: vertical; // 크로스 브라우징용
          overflow: hidden; /* 넘치는 텍스트를 숨김 */
          text-overflow: ellipsis;
        }
      }
    }
  }
}
