.swiper {
  position: inherit;
  z-index: 0 !important;
  width: 100%;
  height: 100%;
  margin: 0 20px;
  &.swiper-horizontal {
    padding: 0 20px;
  }
  .swiper-wrapper {
    .swiper-slide {
      width: 140px;
      font-size: 18px;
      background: #fff;
      display: flex;
      align-items: center;
    }
    .swiper-slide-custom {
      gap: 130px;
    }
    .swiper-slide-category {
      max-width: 110px !important;
    }
  }

  .rank-swiper .swiper-wrapper {
    min-width: 300px;
  }
}
