.swiper {
  position: inherit;
  z-index: 0 !important;
  width: 100%;
  .swiper-wrapper {
    width: 100%;
    display: flex;
    .swiper-slide {
      font-size: 18px;
      background: #fff;
      display: flex;
      align-items: center;
    }
  }
}
