// .home {
// 	// padding-bottom: 80px;
// }

.recommand {
  gap: 24px;
  padding: 32px 0;
  border-top: 8px solid;
  border-color: $background_default;

  .title {
    @each $font, $value in $title2 {
      #{$font}: $value;
    }
    font-weight: 600;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    .firstline {
      display: flex;
      justify-content: flex-start;
      .name {
        color: $main_color;
        padding-right: 5px;
      }
    }
  }
  .slide {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.pickRank {
  gap: 24px;
  padding: 10px 0;
  border-top: 8px solid;
  border-bottom: 8px solid;
  border-color: $background_default;
  // height: 500px;
  cursor: pointer;

  .miniHeader {
    align-items: start;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
      @each $font, $value in $title2 {
        #{$font}: $value;
      }
      font-weight: 600;
      padding-bottom: 4px;
    }
    
    .info {
      @each $font, $value in $body2 {
        #{$font}: $value;
      }
      color: $text_info;
      font-weight: 400;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      border-bottom: 1px solid $line_default;
    }  
  }

  .rankGame {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.all-curation {
  padding: 32px 0;
  padding-bottom: 80px;

  .curation {
    padding-bottom: 30px;

    .title {
      @each $font, $value in $title2 {
        #{$font}: $value;
      }
      font-weight: 600;
      padding-bottom: 20px;
      display: flex;
      gap: 5px;
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      @each $font, $value in $title2 {
        #{$font}: $value;
      }
      font-weight: 400;
      color: $text_sub2;
    }
  }
}

.recommand-visitor {
  gap: 24px;
  padding: 32px 0;
  padding-bottom: 80px;
  border-top: 8px solid;
  border-color: $background_default;

  .title {
    @each $font, $value in $title2 {
      #{$font}: $value;
    }
    font-weight: 600;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    .firstline {
      display: flex;
      justify-content: flex-start;
      .name {
        color: $main_color;
        padding-right: 5px;
      }
    }
  }
  .slide {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
