// .home {
// 	height: 100vh;
// }

.banner {
	display: flex;
	align-items: center;
    justify-content: center;

	img {
		width: 100%;
		cursor: pointer;
	}
}

.pickRank {
	gap: 24px;
	padding: 20px 35px 20px 35px;
	border-top: 8px solid;
	border-color: $background_default;
	// height: 500px;

	.miniHeader {
		padding-top: 10px;
		align-items: start;
		padding-bottom: 20px;
		border-bottom: 1px solid $line_default;

		.title {
			@each $font, $value in $title2 {
				#{$font}: $value;
			}
			font-weight: 600;
			padding-bottom: 4px;
		}
	
		.info {
			@each $font, $value in $body2 {
				#{$font}: $value;
			}
			color: $text_info;
			font-weight: 400;
		}
	}

	.rankGame {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}
