@mixin mobile {
  width: 100%;
  max-width: 600px;
  min-width: 375px;
  background-color: $common_white;
  font-family: $font;
  margin: 0 auto;
  padding-bottom: 52px;
}

@mixin content {
  padding: 32px 20px;
}

@mixin contentTit {
  @each $font, $value in $title3 {
    #{$font}: $value;
  }
  font-weight: 600;
}
