// font
$font: "Pretendard-Regular", sans-serif;

//Color
//brand  color
$main_color: #f0002e;
$sub_color: #484f54;
$common_black: #000;
$common_white: #fff;

$neutral50: #f1f1f5;
$neutral100: #e1e1e1;
$neutral200: #bbb;
$neutral300: #999;
$neutral400: #888;
$neutral500: #767676;
$neutral600: #666;
$neutral700: #505050;
$neutral800: #333;
$neutral900: #111;

// Text
$text_Disabled: #9999;
$text_info: #767676;
$text_sub2: #505050;
$text_sub1: #333;
$text_default: #111;

// Line
$line_light: #f1f1f5;
$line_default: #e5e5ec;
$line_deep: #111;

// background
$background_light: #f7f7fb;
$background_deep: #f1f1f5;
// $background_deep: #111111; ?
$background_Brand: #fcecee;
