// font
$font: "Pretendard-Regular", sans-serif;

// title
$title1: (
  font-size: 24px,
  line-height: 34px,
  letter-spacing: 0.15px,
);

$title2: (
  font-size: 20px,
  line-height: 28px,
  letter-spacing: 0.15px,
);
$title3: (
  font-size: 18px,
  line-height: 26px,
  letter-spacing: 0.15px,
);
$title4: (
  font-size: 16px,
  line-height: 24px,
  letter-spacing: 0.15px,
);

//body
$body1: (
  font-size: 16px,
  line-height: 24px,
  letter-spacing: 0.15px,
);
$body2: (
  font-size: 14px,
  line-height: 20px,
  letter-spacing: 0.15px,
);
$body3: (
  font-size: 13px,
  line-height: 18px,
  letter-spacing: 0.15px,
);

// caption
$caption1: (
  font-size: 13px,
  line-height: 18px,
  letter-spacing: 0.15px,
);
$caption2: (
  font-size: 12px,
  line-height: 18px,
  letter-spacing: 0.15px,
);
$caption3: (
  font-size: 11px,
  line-height: 18px,
  letter-spacing: 0.15px,
);

// button
$button1: (
  font-size: 18px,
  line-height: 26px,
  letter-spacing: 0.15px,
);
$button2: (
  font-size: 16px,
  line-height: 24px,
  letter-spacing: 0.15px,
);
$button3: (
  font-size: 14px,
  line-height: 20px,
  letter-spacing: 0.15px,
);
$button4: (
  font-size: 13px,
  line-height: 18px,
  letter-spacing: 0.15px,
);

//Color
//brand  color
$main_color: #f0002e;
$sub_color: #484f54;
$common_black: #000;
$common_white: #fff;

// Text
$text_Disabled: #999;
$text_info: #767676;
$text_sub2: #505050;
$text_sub1: #333;
$text_default: #111;

// Line
$line_light: #f1f1f5;
$line_default: #e5e5ec;
$line_deep: #111;

// background
$background_light: #f7f7fb;
$background_default: #f1f1f5;
$background_deep: #111111;
$background_brand: #fdf5f6;
