.avgStar {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $text_Disabled;
  @each $font, $value in $caption1 {
    #{$font}: $value;
  }
  .star {
    padding-top: 4px;
  }
  .avg {
    font-weight: 600;
    &.round {
      background-color: $sub_color;
      border-radius: 80px;
      padding: 2px 10px;
      color: $common_white;
      @each $font, $value in $body2 {
        #{$font}: $value;
      }
    }
    &.black {
      color: $common_black;
    }
  }
  .reviewCount {
    &.round {
      @each $font, $value in $body1 {
        #{$font}: $value;
      }
      color: $text_Disabled;
      &::before {
        content: "/ 5";
        margin-right: 2px;
        font-weight: 600;
        color: $common_black;
      }
    }
    &.black {
      color: $common_black;
    }
  }
}
