.categoryDetail {
  position: relative;
  padding-bottom: 52px;
  .backImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 560px;
    z-index: 0;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      background: linear-gradient(
        to bottom,
        rgba($text_default, 0.4),
        rgba($text_default, 0)
      );
      backdrop-filter: blur(3px);
    }
    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
    }
  }
  .boardGameInfo {
    position: relative;
    z-index: 0;
    background-color: $common_white;
    border-radius: 16px 16px 0 0;
    margin-top: 142px;
    .detailThumbNail {
      width: 23%;
      aspect-ratio: 1 / 1;
      position: absolute;
      top: -75px;
      right: 6%;
      border: 1px solid $common_white;
      border-radius: 8px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .boardGameSum {
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-bottom: 1px solid $line_default;
      padding: 32px 20px;
      .banners {
        display: flex;
        gap: 4px;
      }

      .boardGameName {
        @each $font, $value in $title2 {
          #{$font}: $value;
        }
        font-weight: 700;
      }
      .boardGameOne {
        @each $font, $value in $body2 {
          #{$font}: $value;
        }
        color: $text_info;
      }

      .pickBanner {
        display: flex;
        align-items: center;
        background-color: $background_brand;
        border-radius: 4px;
        padding: 6px 12px;

        @each $font, $value in $caption1 {
          #{$font}: $value;
        }
        color: $main_color;

        &::before {
          content: url("../../assets/icon/check.svg");
          margin-right: 6px;
        }
        .pickCount {
          font-weight: bold;
          margin-left: 3px;
        }
      }
      .hashTagBox {
        display: flex;
        gap: 4px;
        margin-top: 16px;
      }
    }

    .BoardGameEleBox {
      display: flex;
      justify-content: space-around;
      border-bottom: 8px solid $line_light;
      .BoardGameEle {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        padding: 20px 0 24px 0;
        text-align: center;
        .EleIcon path {
          stroke: $text_Disabled;
        }
        .EleTit {
          @each $font, $value in $caption2 {
            #{$font}: $value;
          }
          color: $text_info;
        }
        .EleCon {
          @each $font, $value in $body2 {
            #{$font}: $value;
          }
        }
      }
    }
  }
  .toast {
    width: 100%;
    max-width: 600px;
    min-width: 475px;
    position: fixed;
    bottom: -999px;
    z-index: 999;
    &.pop {
      bottom: 40px;
    }
  }
}
