.reviewTop {
  width: 100%;
  margin: 24px 0;
  border-bottom: 1px solid $line_default;
  .reviewTop_Tit {
    display: flex;
    align-items: center;
    gap: 5px;
    h1 {
      @each $font, $value in $title3 {
        #{$font}: $value;
      }
    }
    .reviewCount {
      @each $font, $value in $body2 {
        #{$font}: $value;
      }
      color: $text_info;
    }
  }
  .topBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
    .topN {
      display: flex;
      justify-content: space-between;
      border: 1px solid $line_default;
      border-radius: 8px;
      padding: 8px 12px;
      @each $font, $value in $body1 {
        #{$font}: $value;
      }
      font-weight: 500;
    }
  }
}
