@import "./styles/index.scss";
html,
body {
  width: 100%;
  max-width: 600px;
  min-width: 375px;
  min-height: 100vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: $background_brand;
}

// .App {
//   position: relative;
//   background-color: $background_brand;
// }
